.img1{
    float: right;
    height: 500px;
}
.firstSection{
    height: 100vh;
    align-items: center;
}
.firstSection-2{
    height: max-content;
    align-items: center;
}
.secondSection{
    height: 50vh;
    align-items: center;
}
.img-item-service{
    height: 100px;
}
.img-start{
    height: 400px;
}
.img-contact{
    height: 100px;
}
.sectionLeft{
    align-items: center;
}
.full{
    background-color: #e0e2e7;
    overflow: auto;
}
.nav{
    background-color: #6d6d6d;
}
.nav-link{
    color: #ebfbfa !important;
}
.btn{
    background-color: #6d6d6d !important;
    border: #6d6d6d !important;
}
.analyst{
    color: blue;
}
#footer{
    height: max-content !important;
}
#footer a{
    text-decoration: none;
}
#service a{
    text-decoration: none;
}
#Contact a{
    text-decoration: none;
}
.icon i{
    font-size: 30px;
}
a{
    color: #caa367 !important;
}